<table class="striped">
  <thead>
    <tr>
        <th>Дата регистрации</th>
        <th>Имя</th>
        <th>Телефон</th>
        <th>Email</th>
        <th>Город</th>
        <th>Заказы</th>
        <th>Сумма всех заказов</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2019-09-10 <br> 15:21:45</td>
      <td>Остап</td>
      <td>38050 77 99 231</td>
      <td>example@gamil.com</td>
      <td>Шостка</td>
      <td>2</td>
      <td>1450 грн</td>
    </tr>
   <tr>
     <td>2019-02-05 <br> 10:11:25</td>
      <td>Остап</td>
      <td>38050 77 99 231</td>
      <td>example@gamil.com</td>
      <td>Миргород</td>
      <td>1</td>
      <td>1450 грн</td>
    </tr>
  <tr>
      <td>2018-01-10 <br> 05:11:15</td>
      <td>Василий</td>
      <td>38050 27 98 231</td>
      <td>example2@gamil.com</td>
      <td>Одесса</td>
      <td>5</td>
      <td>5900 грн</td>
    </tr>
  </tbody>
</table>