form{
  margin: 15px 0 30px;
}
.form-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.name{
  width: 35%;
}
.red{
  margin-left: 15px;
}
.category-thumbnail{
  border: 2px dashed rgba(50,58,70,.3);
  border-radius: 6px;
}
.category-img{
  padding: 30px;
  box-sizing: border-box;
}
.input-file-field{
  margin: 2rem 0;
  text-align: center;
  img {
    width: 36px;
  }
  h5{
    margin-top: 10px;
  }
}
@media (max-width: 600px){
  .form-row{
    flex-direction: column;
  }
  .name{
    width: 100%;
  }
  .category-img{
    width: 100%;
  }
  .file-field{
    margin: 20px auto 20px 0;
  }
}
