form{
  margin: 15px 0 30px;
}
.form-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.name{
  width: 35%;
}
.red{
  margin-left: 15px;
}
.category-thumbnail{
  padding: 2rem 0;
  border: 2px dashed rgba(50,58,70,.3);
  border-radius: 6px;
  text-align: center;
  img{
    max-width: 290px;
  }
  label{
    display: block;
  }
}
input[type=file]:focus + label {
  outline: -webkit-focus-ring-color auto 5px;
}
.category-img{
  padding: 30px;
  box-sizing: border-box;
}
.category-thumbnail_default{
  width: 36px;
}
@media (max-width: 600px){
  .form-row{
    flex-direction: column;
  }
  .name{
    width: 100%;
  }
  .category-img{
    width: 100%;
  }
}
