h1 {
  font-size: 1.75rem;
  margin: 2rem 0 1.5rem 0;

  @media screen and (max-width: 480px) {
    font-size: 1.25rem;
    margin: 1.5rem 0 1rem 0;
  }
}


h2 {
  font-size: 1.5rem;
  margin: 1.5rem 0 1rem 0;

  @media screen and (max-width: 480px) {
    font-size: 1rem;
    margin: 1rem 0 0.75rem 0;
  }
}

h3 {
  font-size: 1.25rem;
  margin: 1.15rem 0 0.75rem 0;
  font-weight: 600;

  @media screen and (max-width: 480px) {
    font-size: 1.15rem;
    margin: 0.75rem 0 0.5rem 0;
  }
}
