.cart-prod {
  display: inline-flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;

  a {
    text-align: center;
  }
}

.prod-title {
  margin-top: 10px;
  margin-bottom: 8px;
  color: #294057;
  font-size: 14px;
  text-align: left;
  height: 44px;
  overflow: hidden;

  &:hover {
    color: #B99867;
  }
}

.prod-thumbnail {
  max-height: 220px;
}

.price {
  font-size: 24px;
  text-align: left;
  color: #333333;
}

.cart-prod_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart {
  margin-left: 0.5rem;
}
