<div class="col l3 m6 s12">
  <div class="cart-prod">
    <a routerLink="/shop/{{product._id}}">
      <div class="cart-thumbnail">
        <img class="prod-thumbnail" src="{{ this.product.images[0] || '/assets/img/nophoto.png' }}" alt="">
      </div>
      <p class="prod-title">{{product.name}}</p>
    </a>
    <div class="card-price-old">
      {{product.costOld ? '$' + product.costOld : '' }}
    </div>
    <div class="cart-prod_bottom">
      <div
        class="price"
        [class.old-active]="product.costOld"
      >
        ${{product.cost}}
      </div>
      <div>
        <button class="btn waves-effect waves-light pink lighten-3" (click)="addToWishList(product)" type="button">
          <i class="material-icons">favorite</i>
        </button>
        <button
          class="btn waves-effect waves-light cart"
          (click)="addToCart(product)"
          type="button"
          [disabled]="!product.quantity"
        >
          <i class="material-icons">shopping_cart</i>
        </button>
      </div>
    </div>
  </div>
</div>
