@import "~src/assets/styles/colors";

.cart-prod {
  display: inline-flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;

  a {
    text-align: center;
  }
}

.prod-title {
  margin-top: 10px;
  margin-bottom: 0;
  color: $blue-dark;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  height: 32px;
  overflow: hidden;

  &:hover {
    color: #B99867;
  }
}

.prod-thumbnail {
  max-height: 220px;
}

.card-price-old {
  display: flex;
  height: 18px;
  text-decoration: line-through;
  color: #a6a5a5;
}

.price {
  font-size: 24px;
  text-align: left;
  color: #333333;

  &.old-active {
    color: $red;
  }
}

.cart-prod_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart {
  margin-left: 0.5rem;
}
