<footer>
  <div class="wrapper row">
    <div class="footer-pages">
      <h3>Страницы</h3>
      <ul>
        <li><a routerLink="/">Главная</a></li>
        <li><a routerLink="/shop">Магазин</a></li>
        <li><a routerLink="/contact">Контакты</a></li>
      </ul>
    </div>
    <div class="footer-categories">
      <h3>Категории</h3>
      <ul>
        <li *ngFor="let cat of categories">
          <a routerLink="/category/{{cat._id}}">{{cat.name}}</a>
        </li>
      </ul>
    </div>
    <div class="footer-contact">
      <h3>Консультация по телефонам:</h3>
      <div class="footer-tel">0 800 555 555</div>
      <ul>
        <li>Пн - Пт: с 9 до 22</li>
        <li>Сб: с 9 до 20</li>
        <li>Вс: с 10 до 20</li>
      </ul>
    </div>
    <div class="footer-subscription">
      <h3>Подписаться</h3>
      <form [formGroup]="form" (submit)="sendMail()">
        <input type="text" placeholder="email@example.com" class="subscribe_input" formControlName="email">
        <app-button
          [type]="'submit'"
          [isDisabled]="form.invalid"
          [wavesEffect]="true"
          [wavesLight]="true"
          [background]="'blue-dark'"
        >
          Subscribe
        </app-button>
      </form>
    </div>
  </div>
  <div class="wrapper footer-copyright">
    © Copyright {{year}} All rights reserved
  </div>
</footer>
