<table class="striped" *ngIf="orders.length > 0; else empty">
  <thead>
  <tr>
    <th>&#x2116;</th>
    <th>Имя</th>
    <th>Дата</th>
    <th>Сумма</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders" routerLink="{{order._id}}">
    <td></td>
    <td>{{order.name}}</td>
    <td>{{order.date}}</td>
    <td>{{ calcSum(order.list) }}</td>
  </tr>
  </tbody>

</table>
<ng-template #empty>
  <div class="content center">
    На данный момент список заказов пустой
  </div>
</ng-template>
