<div class="wrapper">
  <div class="cart-header">
    <h4>Список желаний</h4>
    <button class="btn waves-effect waves-light red" *ngIf="(wish$ | async)?.length;" (click)="reset()" type="button">
      <i class="material-icons">delete_sweep</i>
    </button>
  </div>
  <div class="wish-container" *ngIf="(wish$ | async)?.length; else empty">
    <table>
      <thead>
      <tr>
        <th></th>
        <th>Название</th>
        <th>Цена</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of (wish$ | async)">
        <td>
          <img class="cart-img" src="{{item.image || '/assets/img/nophoto.png'}}" alt="">
        </td>
        <td>{{item.name}}</td>
        <td>${{item.cost}}</td>
        <td>
          <button class="btn waves-effect waves-light red" (click)="remove(item)" type="button">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #empty>
    <div class="empty">
      На данный момент список пустой
    </div>
  </ng-template>
</div>
