<table class="striped" *ngIf="orders.length; else empty">
  <thead>
  <tr>
    <th>Номер</th>
    <th>Дата</th>
    <th>Пользователь</th>
    <th>Заказ</th>
    <th>Доставка</th>
    <th>Оплата</th>
    <th>Статус</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders" routerLink="{{order._id}}">
    <td>{{order.index}}</td>
    <td>{{order.date | formDate}}</td>
    <td>{{order.name}}</td>
    <td>{{calcSum(order.list)}}</td>
    <td>{{order.delivery === 'picks-up' ? 'Самовывоз' : 'Курьер'}}</td>
    <td>{{order.payment === 'cash' ? 'Наличные' : 'Безналичный расчет'}}</td>
    <td>
      <span class="badge"
            [ngClass]="{
              'new-order': order.status === 'new',
              'processing': order.status === 'processing',
              'completed':  order.status === 'completed'
            }">
        {{statusText(order.status)}}
      </span>
    </td>
  </tr>
  </tbody>

</table>
<ng-template #empty>
  <div class="content center">
    На данный момент список заказов пустой
  </div>
</ng-template>
