<table class="striped" *ngIf="orders.length; else empty">
  <thead>
  <tr>
    <th>&#x2116;</th>
    <th>Имя</th>
    <th>Статус</th>
    <th>Дата</th>
    <th>Сумма</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders" routerLink="{{order._id}}">
    <td>{{order.index}}</td>
    <td>{{order.name}}</td>
    <td>
      <span class="badge"
            [ngClass]="{
              'new-order': order.status === 'new',
              'processing': order.status === 'processing',
              'completed':  order.status === 'completed'
            }">
        {{statusText(order.status)}}
      </span>
    </td>
    <td>{{order.date | formDate}}</td>
    <td>{{ calcSum(order.list) }}</td>
  </tr>
  </tbody>

</table>
<ng-template #empty>
  <div class="content center">
    На данный момент список заказов пустой
  </div>
</ng-template>
