<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-header">
    <h5>{{isNew ? 'Добавить новый товар' : 'Изменить'}} {{position ? position.name : '' }} </h5>
    <div class="flex">
      <button type="button" class="btn red remove-btn" (click)="remove()" *ngIf="!isNew">Удалить</button>
      <button type="submit" class="btn" [disabled]="form.invalid || form.disabled">{{isNew ? 'Добавить' : 'Сохранить'}}</button>
    </div>
  </div>

  <div class="form-body row">
      <div class="col m7 s12">
        <div>
          <label for="name">Название</label>
          <input id="name" type="text" formControlName="name">
        </div>
        <div class="flex f-d-r j-c-space-between">
          <div class="category">
            <div class="input-field">
              <select id="category" formControlName="category" #selectCat>
                <option value="" disabled selected>Выберите категорию</option>
                <option *ngFor="let cat of category" [value]="cat._id" >{{cat.name}}</option>
              </select>
              <label for="category">Категория</label>
            </div>
          </div>
          <div class="cost">
            <label for="for-cost">Цена</label>
            <input id="for-cost" type="number" min="0" formControlName="cost">
          </div>
          <div class="quantity">
            <label for="for-quantity">Количество</label>
            <input id="for-quantity" type="number" min="0" formControlName="quantity">
          </div>
        </div>
        <div class="description">
          <div class="input-field">
            <label for="descr" [ngClass]="{'active': form.get('description').value != null}">Описание</label>
            <textarea #descr id="descr" type="number" class="materialize-textarea ng-valid ng-dirty ng-touched" formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="col m5 s12">
        <div class="thumbnail file-field">
          <img src="{{imagePreview}}" *ngIf="imagePreview; else inputImageField" alt="">

          <ng-template #inputImageField>
            <img src="assets/img/cloud-computing.svg" class="thumbnail_default" alt="">
          </ng-template>

          <input id="file-input" type="file" (change)="onFileUpload($event)" #inputImage>
          <label for="file-input">Выберите файл</label>
        </div>
      </div>
  </div>
</form>
