<div class="wrapper row footer">
  <div class="col l3 m6 s12">
    <div class="card teal lighten-1" routerLink="/admin/order">
      <i class="material-icons">shopping_cart</i>
      <div class="card-info">
        <span class="card-number">12</span>New Orders
      </div>
    </div>
  </div>
  <div class="col l3 m6 s12">
    <div class="card indigo lighten-1" routerLink="/admin/product">
      <i class="material-icons">local_offer</i>
      <div class="card-info">
        <span class="card-number">12</span>Products
      </div>
    </div>
  </div>
  <div class="col l3 m6 s12">
    <div class="card orange lighten-1">
      <i class="material-icons">people</i>
      <div class="card-info">
        <span class="card-number">-</span>Customers
      </div>
    </div>
  </div>
  <div class="col l3 m6 s12">
    <div class="card brown darken-1">
      <i class="material-icons">timeline</i>
      <div class="card-info">
        <span class="card-number">-</span>Website Visits
      </div>
    </div>
  </div>
</div>
