<div class="col l3 m6 s12">
    <div class="cart-prod">
      <a routerLink="/shop/{{product._id}}">
        <img class="prod-thumbnail" src="{{ thumbnail }}" alt="">
        <p class="prod-title">{{product.name}}</p>
      </a>
      <div class="cart-prod_bottom">
          <div class="price">${{product.cost}}</div>
        <div>
          <button class="btn waves-effect waves-light pink lighten-3" (click)="addToWishList(product)" type="button">
            <i class="material-icons">favorite</i>
          </button>
          <button class="btn waves-effect waves-light cart" (click)="addToCart(product)" type="button">
            <i class="material-icons">shopping_cart</i>
          </button>
        </div>
      </div>
    </div>
</div>
