.categories{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.categories h4{
  margin-bottom: 30px;
}
.card-content img{
  height: 100px;
  width: auto;
}
@media (min-width: 1024px){
  .carousel{
    height: calc(100vh - 50px);
  }
}


