nav{
  background: #294057;
}
.admin-panel{
  padding: 0 4rem 0 260px;
}
.nav-wrapper > a{
  margin-right: 25px;
}
.logo{
  text-align: center;
  background: rgba(50,50,50,0.06);
}
.logo img{
  height: 58px;
}
.sidenav{
  width: 240px;
  padding-top: 63px;
  background: rgba(50,50,50,0.06);
}
.sidenav a{
  font-weight: normal;
}
@media (max-width: 992px) {
  .sidenav{
    width: 200px;
    padding-top: 15px;
    background: #294057;
    a {
      font-size: 12px;
      font-weight: 300;
      height: 38px;
      line-height: 38px;
      color: white;
    }
  }
  .admin-panel{
    padding: 0 1.75rem;
  }
  .nav-wrapper > a{
    font-size: 12px;
  }

}
