<div class="main">
  <header>
      <div class="wrapper header-top">
        <div class="logo">
          <a routerLink="/">
            <img src="/assets/img/logo.png" alt="Bicycle shop">
          </a>
        </div>
        <div class="dropdown-contact">
          <div class="contact-block">
            <div class="contact-row">
              <a href="tel:+380988008888">+38 099 800 98 98</a>
              <i class="material-icons">arrow_drop_down</i>
            </div>
            <div class="contact-row dropdown">
              <a href="tel:+380988008888">+38 099 900 98 98</a>
            </div>
          </div>
        </div>
        <div>
          <form>
            <div class="input-field">
              <input type="text" placeholder="Поиск...">
            </div>
          </form>
        </div>
        <div class="btns">
          <a routerLink="/" class="header-icon">
            <img src="/assets/img/heart.svg" alt="profile">
          </a>
          <a routerLink="/login" class="header-icon">
            <img src="/assets/img/user.svg" alt="profile">
          </a>
          <a routerLink="/cart" class="header-icon cart">
            <span *ngIf="(cart$ | async)?.length > 0">{{ cartQuantity( cart$ | async ) }}</span>
            <img src="/assets/img/shopping-cart.svg" alt="shoping cart">
          </a>
        </div>
      </div>
      <div class="menu">
        <button type="button" class="btn-menu" (click)="dropdown()">
          <img src="/assets/img/menu-button.svg" alt="menu">
        </button>
        <div [className]="showMenu ? 'menu-block active' : 'wrapper menu-block'">
          <div class="header-menu">
            <a routerLink="/">Главная</a>
            <a routerLink="/shop">Магазин</a>
            <a routerLink="/contact">Контакты</a>
          </div>
        </div>
      </div>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
      <div class="wrapper row footer">
        <div class="col l3 m6 s12">
          <h5>Страницы</h5>
          <ul>
            <li><a routerLink="/">Главная</a></li>
            <li><a routerLink="/shop">Магазин</a></li>
            <li><a routerLink="/contact">Контакты</a></li>
          </ul>
        </div>
        <div class="col l3 m6 s12">
          <h5>Категории</h5>
          <ul>
            <li *ngFor="let cat of categories$ | async">
              <a routerLink="/category/{{cat._id}}">{{cat.name}}</a>
            </li>
          </ul>
        </div>
        <div class="col l3 m6 s12">
          <h5>Cоц сети</h5>
          <div class="social">
            <a href="#">
              <img src="/assets/img/instagram.svg" alt="">
            </a>
            <a href="#">
              <img src="/assets/img/facebook.svg" alt="">
            </a>
            <a href="">
              <img src="/assets/img/twitter.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col l3 m6 s12">
          <h5>Подписаться</h5>
          <form [formGroup]="form" (submit)="sendMail()">
            <input type="text" placeholder="email@example.com" class="subscribe_input" formControlName="email">
            <button [disabled]="form.invalid" class="btn waves-effect waves-light subscribe_btn" type="submit" name="action">Subscribe</button>
          </form>
        </div>
      </div>
    <div class="wrapper footer-copyright">
        © Copyright 2019 All rights reserved | Powered by Yurii Liakhov.
    </div>
  </footer>
</div>
