@import "~src/assets/styles/colors";

.dropdown {
  position: absolute;
  top: 50px;
  background: white;
  width: 100%;
  border: 1px solid $grey-light;
  border-top: none;
  border-radius: 0 0 3px 3px;
  z-index: 99;

  li {
    padding: 7px 10px;
    cursor: pointer;

    &:hover {
      background: #f6f6f6;
    }

    &:focus {
      outline: none;
    }
  }
}

form {
  width: 100%;

  input {
    padding-left: 15px;
  }

  input:focus {
    border-bottom: 1px solid $blue-dark;
    box-shadow: 0 1px 0 0 $blue-dark;
  }
}
