<div class="row row-top">
  <input type="text" [(ngModel)]="search" *ngIf="( product$ | async )?.length != 0">

  <button class="waves-effect btn" routerLink="/admin/product/new">Добавить</button>
</div>
<table class="products striped" *ngIf="( product$ | async )?.length != 0;else empty">
  <thead>
  <tr>
    <th>Название</th>
    <th>Категория</th>
    <th>Количество</th>
    <th>Цена</th>
    <th></th>
  </tr>
  </thead>
  <tbody class="table-list">
  <tr *ngFor="let item of product$| async | filter: search" routerLink="/admin/product/{{item._id}}">
    <td>{{item.name}}</td>
    <td>{{item.categoryName}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.cost}}</td>
    <td class="td-icon">
      <img src="/assets/img/star{{item.recommend ? '-active' : ''}}.svg" title="Рекомендуемый" alt="Рекомендуемый">
      <img src="/assets/img/lamp{{item.active ? '-active' : ''}}.svg" title="Активный" alt="Активный">
    </td>
  </tr>
  </tbody>
</table>

<ng-template #empty>
  <div class="center">
    На данный момент список товаров пустой
  </div>
</ng-template>

