.form-roform{
  margin: 10px auto 30px;
}
.form-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.form-body{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  .name{
    width: 50%;
    margin-right: 2%;
  }
  .category{
    width: 30%;
    margin: 0 2%;
    padding-top: 5px;
  }
  .cost{
    width: 15%;
    margin: 0 2%;
  }
  .quantity{
    width: 15%;
    margin-left: 2%;
  }
  .description{
    width: 64%;
    margin-right: 4%;
  }
  .thumbnail{
    width: 34%;
    margin-left: 4px;
  }
}
h5{
  margin-bottom: 20px;
}
.remove-btn{
  margin-right: 15px;
}
@media (max-width: 600px){
  .form-header{
    flex-direction: column;
  }
  .form-body{
    flex-wrap: wrap;
    .name{
      width: 100%;
    }
    .description{
      width: 100%;
    }
    .category{
      margin-left: 0;
    }
  }
}
@media (max-width: 480px){
  .form-body{
    .category{
      width: 100%;
    }
    .cost{
      width: 40%;
      margin: 0;
    }
    .quantity{
      width: 40%;
    }
  }
}

