<div class="wrapper product" *ngIf="product$ | async as product; else loader">
  <h4>{{ product.name }}</h4>
  <div class="product-row">
    <div>
      <div class="carousel" #carousel>
        <div class="carousel-item" *ngFor="let img of product.images">
          <img src="{{img}}" alt="">
        </div>
        <div class="carousel-item" *ngIf="!product.images.length">
          <img src="/assets/img/nophoto.png" class="no-img" alt="">
        </div>
      </div>
    </div>
    <div>
      <div class="balance">
        <span class="balance-green" *ngIf="product.quantity > 10">
          <i class="material-icons">check_circle</i>
          Есть в наличии
        </span>
        <span class="balance-orange" *ngIf="product.quantity < 10 && product.quantity">
              <i class="material-icons">access_time</i>
              Заканчивается
            </span>
        <span class="balance-grey" *ngIf="!product.quantity">
              <i class="material-icons">remove_circle_outline</i>
              Товар закончился
          </span>
      </div>
      <div class="product-trade">
        <div class="product-price">
          {{product.cost}} $
        </div>
        <div class="product-to-cart">
          <app-button
            class="cart"
            [wavesEffect]="true"
            [wavesLight]="true"
            (click)="addToCart(product)"
            [isDisabled]="!product.quantity"
          >
            <i class="material-icons left">shopping_cart</i>
            Купить
          </app-button>

        </div>
      </div>
      <div class="info-block">
        <div class="info-block_header">Оплата</div>
        <div class="info-block_body">Наличными</div>
      </div>
      <div class="info-block">
        <div class="info-block_header">Гарантия</div>
        <div class="info-block_body">
          14 дней
          <br>
          Продавец гарантирует упаковку заказанного товара, которая обеспечит целостность и сохранность его товарного
          вида
        </div>
      </div>
    </div>
  </div>
  <app-tabs>
    <app-tab tabTitle="Описание" active>
      <div [innerHTML]="product.description"></div>
    </app-tab>
    <app-tab tabTitle="Характеристики">
      Характеристики
    </app-tab>
    <app-tab tabTitle="Отзывы">
      Отзывы
    </app-tab>
  </app-tabs>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
