.center{
  margin: 50px auto;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.row input{
  width: 35%;
}
.row button{
  margin-left: auto;
}
table{
  margin-bottom: 40px;
}
a{
  color: black;
}
@media (max-width: 480px){
  .row-top{
    flex-direction: column;
  }
  .row-top input{
    width: 100%;
  }
  .row-top button{
    margin-top: 10px;
  }
}

