@import "~src/assets/styles/colors";

ul {
  display: flex;
  justify-content: center;
  margin: 1rem 0 0.5rem 0;
}

li {
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 500;
  color: inherit;
  cursor: pointer;
  transition: all .15s;
  border-radius: 3px 3px 0 0;
  border-bottom: 2px solid transparent;

  &.active {
    border-bottom-color: $blue-dark;
  }

  @media screen and (max-width: 480px) {
    font-size: 14px;
    padding: 8px 18px;
  }

  @media screen and (max-width: 320px) {
    font-size: 12px;
    padding: 6px 14px;
  }
}

.tabs-content {
  display: flex;
}
