@import "~src/assets/styles/colors";

.thumbnails{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.dndPlaceholder{
  list-style: none;
  width: 120px;
  margin: 5px;
  background-color: $red;
}
.dnd-placeholder {
  list-style: none;
  width: 120px;
  margin: 5px;
  border: 2px dashed rgba(50, 58, 70, 0.3);
}
.thumbnail-item{
  position: relative;
  width: 120px;
  margin: 5px;
  text-align: center;
  img{
    max-height: 120px;
  }
  .material-icons{
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
    background: $red;
    font-size: 14px;
    color: white;
    cursor: pointer;
    border-radius: 50%;
  }
  &:hover{
    .material-icons{
      display: block;
    }
  }
}


