.center{
  margin: 50px auto;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.row input{
  width: 35%;
}
.row button{
  margin-left: auto;
}
table{
  margin-bottom: 40px;
}
