.header-row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.left-col {
  display: flex;

  h5 {
    margin-right: 50px;
  }
}

.right-col {
  display: flex;
  justify-content: flex-end;
}

.order-main {
  padding-right: 30px;
}

.order-info {
  padding: 20px;
  background: rgba(242, 242, 242, 0.5);
}

.order-row {
  margin-bottom: 10px;
  b {
    display: block;
  }
}
.order-sum {
  font-size: 18px;
  text-align: right;
}
.striped {
  margin-bottom: 10px;
}

.order-thumbnail {
  max-width: 40px;
}

.remove {
  margin-left: 15px;
}

textarea {
  max-width: 100%;
}

table {
  margin: 0 auto 50px;
}
@media screen and (max-width: 500px) {
  .header-row {
    flex-direction: column;
  }
  .left-col {
    display: flex;
    justify-content: space-between;
    h5 {
      margin-right: 10px;
   }
  }
}
