<script src="../../../../../../../CRM_System/client/src/app/order-page/order.service.ts"></script>
<div class="wrapper">
  <div class="cart-header">
    <h4>Корзина</h4>
    <button class="btn waves-effect waves-light red" *ngIf="cart.length > 0;" (click)="reset()" type="button">
      <i class="material-icons">delete_sweep</i>
    </button>
  </div>
  <div *ngIf="cart.length > 0; else empty">
    <table>
      <thead>
      <tr>
        <th></th>
        <th>Название</th>
        <th>Цена</th>
        <th>Количество</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart">
          {{item | json}}
          <td>
            <img class="cart-img" src="{{item.images ? item.images : '/assets/img/nophoto.png'}}" alt="">
          </td>
          <td>{{item.name}}</td>
          <td>${{item.cost}}</td>
          <td>{{item.quantity}}</td>
          <td>
            <button class="btn waves-effect waves-light red" (click)="remove(item)" type="button">
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="cart-bottom">
      <div class="total">
        Общая сумма: <b>{{total}} $</b>
      </div>
      <button class="btn waves-effect waves-light" routerLink="/checkout" type="button">Оформить заказ</button>
    </div>

  </div>

  <ng-template #empty>
    <div class="empty">
      На данный момент корзина пустая
    </div>
  </ng-template>
</div>
