<div class="wrapper row">
  <div class="card card_green" routerLink="/admin/order">
    <i class="card__icon material-icons">shopping_cart</i>
    <div class="card__info">
      <span class="card__number">{{(meta$ | async)?.newOrders}}</span>New Orders
    </div>
  </div>
  <div class="card card_blue" routerLink="/admin/product">
    <i class="card__icon material-icons">local_offer</i>
    <div class="card__info">
      <span class="card__number">{{(meta$ | async)?.products}}</span>Products
    </div>
  </div>
  <div class="card card_orange">
    <i class="card__icon material-icons">people</i>
    <div class="card__info">
      <span class="card__number">-</span>Customers
    </div>
  </div>
  <div class="card card_brown">
    <i class="card__icon material-icons">timeline</i>
    <div class="card__info">
      <span class="card__number">-</span>Website Visits
    </div>
  </div>
</div>
