<div class="carousel carousel-slider" #slider>
  <a class="carousel-item" href="#four!"><img src="https://picsum.photos/1920/1080?random=1"></a>
  <a class="carousel-item" href="#two!"><img src="https://picsum.photos/1920/1080?random=2"></a>
  <a class="carousel-item" href="#four!"><img src="https://picsum.photos/1920/1080?random=3"></a>
</div>

<div class="categories">
  <h4>Категории</h4>
  <div class="row">
      <div class="col l3 m6 s12" *ngFor="let cat of categories$ | async">
          <div class="card">
            <a href="{{cat._id}}">
              <div class="card-content">
                <img src="{{cat.image}}" alt="" *ngIf="cat.image">
                <span class="card-title activator grey-text text-darken-4">{{cat.name}}</span>
              </div>
            </a>
          </div>
      </div>
  </div>
</div>

<div class="categories">
  <h4>Популярные товары</h4>
  <div class="row">
    <div class="col l3 m6 s12" *ngFor="let itemProd of products$ | async ">
       <div class="prod">
         <a href="#">
           <img src="https://picsum.photos/270/334" alt="">
         </a>
         <div class="prod_bottom">
           <div class="prod_info">
             <a href="#" class="prod-title">{{itemProd.name}}</a>
             <div class="prod-price">${{itemProd.cost}}</div>
           </div>
           <div>
             <button class="btn waves-effect waves-light" (click)="add(itemProd)" type="button">
               <i class="material-icons">shopping_cart</i>
             </button>
           </div>
         </div>
       </div>
    </div>
  </div>
</div>

