<div class="carousel carousel-slider" #slider>
  <a class="carousel-item" href="#four!"><img src="https://picsum.photos/1920/1080?random=1"></a>
  <a class="carousel-item" href="#two!"><img src="https://picsum.photos/1920/1080?random=2"></a>
  <a class="carousel-item" href="#four!"><img src="https://picsum.photos/1920/1080?random=3"></a>
</div>

<div class="categories">
  <h4>Категории</h4>
  <div class="row">
      <div class="col l3 m6 s12" *ngFor="let cat of categories | async">
          <div class="card">
            <a href="{{cat._id}}">
              <div class="card-content">
                <img src="{{cat.image}}" alt="" *ngIf="cat.image">
                <span class="card-title activator grey-text text-darken-4">{{cat.name}}</span>
              </div>
            </a>
          </div>
      </div>
  </div>
</div>

<div class="categories">
  <h4>Популярные товары</h4>
  <div class="row">
    <div class="col l3 m6 s12" *ngFor="let cat of [1, 2, 3 ,5 ]">
       <div class="prod">
         <a href="#">
           <img src="https://picsum.photos/270/334" alt="">
         </a>
         <a href="#" class="prod-title">Title</a>
         <div class="prod-price">$54.79</div>
       </div>
    </div>
  </div>
</div>

