<div *ngIf="order; else loader" [formGroup]="form">
  <div class="row header-row">
    <div class="col m6 s12 left-col">
      <h5>Заказ №{{order.index}}</h5>
      <div class="input-field">
        <select id="status" formControlName="status" #selectStatus>
          <option *ngFor="let item of orderStatuses" [value]="item.value">{{item.caption}}</option>
        </select>
        <label for="status">Статус</label>
      </div>
    </div>
    <div class="col m6 s12 right-col">
      <button type="submit" class="btn" (click)="onSubmit()">
        Сохранить
      </button>
      <button type="button" class="btn red remove" (click)="remove()">
        <i class="material-icons">delete</i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col m8 s12 order-main">
      <div class="row">
        <table class="striped">
          <thead>
          <tr>
            <th></th>
            <th>Название</th>
            <th>Количество</th>
            <th>Цена</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of order.list">
            <td>
              <img class="order-thumbnail" src="{{item.image}}" alt="">
            </td>
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.cost}}</td>
          </tr>
          </tbody>
        </table>
        <div class="order-sum">
          <b>Итого: {{ calcSum(order.list) }} $</b>
        </div>
      </div>
    </div>
    <div class="col m4 s12 order-info">
      <div class="order-row">
        <b>Дата:</b>{{order.date | formDate}}
      </div>
      <div class="order-row">
        <b>Имя:</b> {{order.name}}
      </div>
      <div class="order-row">
        <b>Номер телефона:</b> {{order.tel}}
      </div>
      <div class="order-row">
        <b>Email:</b> {{order.email}}
      </div>
      <div class="order-row">
        <b>Адрес:</b> {{order.address}}
      </div>
    </div>
  </div>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

